Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
Content/KiteDemo/Environments/GroundTiles/ForestPath_001/T_Forest_Path_001B_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/ForestPath_001/T_Forest_Path_001A_N.uasset
Content/KiteDemo/Environments/GroundTiles/ForestPath_001/T_Forest_Path_001A_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/ForestPath_001/MI_Forest_Path_001B.uasset
Content/KiteDemo/Environments/GroundTiles/ForestPath_001/MI_Forest_Path_001A.uasset
Content/KiteDemo/Environments/GroundTiles/AlpinePatch001/T_AlpinePatch001_N.uasset
Content/KiteDemo/Environments/GroundTiles/AlpinePatch001/T_AlpinePatch001_D_alt_R.uasset
Content/KiteDemo/Environments/GroundTiles/AlpinePatch001/T_AlpinePatch001_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/AlpinePatch001/M_Tile_AlpinePatch001_alt.uasset
Content/KiteDemo/Environments/GroundTiles/AlpinePatch001/M_Tile_AlpinePatch001.uasset
Content/KiteDemo/Textures/T_CliffRock_03_N.uasset
Content/KiteDemo/Textures/T_CliffRockTile_03_D.uasset
Content/KiteDemo/Material/WorldCoords-XY.uasset
Content/KiteDemo/Material/M_Photoscan_Master_Displacement.uasset
Content/KiteDemo/Material/M_Photoscan_Master.uasset
Content/KiteDemo/Maps/Showcase_BuiltData.uasset
Content/KiteDemo/Maps/Showcase.umap
Content/KiteDemo/Maps/Overview_BuiltData.uasset
Content/KiteDemo/Maps/Overview.umap
Content/KiteDemo/LevelContent/HDRI/KimsBackYard.uasset
Content/KiteDemo/LevelContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
Content/KiteDemo/LevelContent/Blueprints/BP_LightStudio.uasset
Content/KiteDemo/LevelContent/Blueprints/Assets/SunlightColorLUT.uasset
Content/KiteDemo/LevelContent/Blueprints/Assets/Skybox.uasset
Content/KiteDemo/LevelContent/Blueprints/Assets/SM_Arrows.uasset
Content/KiteDemo/LevelContent/Blueprints/Assets/M_LightStage_Skybox_Master.uasset
Content/KiteDemo/LevelContent/Blueprints/Assets/M_LightStage_Skybox_HDRI.uasset
Content/KiteDemo/LevelContent/Blueprints/Assets/M_LightStage_Skybox_Black.uasset
Content/KiteDemo/LevelContent/Blueprints/Assets/M_LightStage_Arrows.uasset
Content/KiteDemo/LevelContent/Blueprints/Assets/FogBrightnessLUT.uasset
Content/KiteDemo/LevelContent/Architecture/T_MeterGrid_01_M.uasset
Content/KiteDemo/LevelContent/Architecture/SM_CycRoom_01.uasset
Content/KiteDemo/LevelContent/Architecture/SM_AssetPlatform_02.uasset
Content/KiteDemo/LevelContent/Architecture/SM_1Meter_01.uasset
Content/KiteDemo/LevelContent/Architecture/M_CycWall_01.uasset
Content/KiteDemo/Environments/Textures/T_Water_Screen_Noise_Soft.uasset
Content/KiteDemo/Environments/Textures/T_Water_N.uasset
Content/KiteDemo/Environments/Textures/T_GDC_TilingRocks_01_DispMask.uasset
Content/KiteDemo/Environments/Textures/MPC_Terrain.uasset
Content/KiteDemo/Environments/Textures/MPC_MacroVariation.uasset
Content/KiteDemo/Environments/GroundTiles/RockyPath/T_GDC_StonePath_Tile_N.uasset
Content/KiteDemo/Environments/GroundTiles/RockyPath/T_GDC_StonePath_Tile_H.uasset
Content/KiteDemo/Environments/GroundTiles/RockyPath/T_GDC_StonePath_Tile_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/RockyPath/MI_PSM_RockyPath_Tile.uasset
Content/KiteDemo/Environments/GroundTiles/RockFace003/T_GDC_RockFace003_N.uasset
Content/KiteDemo/Environments/GroundTiles/RockFace003/T_GDC_RockFace003_H.uasset
Content/KiteDemo/Environments/GroundTiles/RockFace003/T_GDC_RockFace003_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/RockFace003/M_Tile_RockFace003.uasset
Content/KiteDemo/Environments/GroundTiles/RiverPebbles/T_Tile_RiverPebbles_N.uasset
Content/KiteDemo/Environments/GroundTiles/RiverPebbles/T_Tile_RiverPebbles_H.uasset
Content/KiteDemo/Environments/GroundTiles/RiverPebbles/T_RiverPebbles_001_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/RiverPebbles/M_Tile_RiverPebbles.uasset
Content/KiteDemo/Environments/GroundTiles/PebblyRiverbank/T_Tile_PebblyRiverbank_N.uasset
Content/KiteDemo/Environments/GroundTiles/PebblyRiverbank/T_Tile_PebblyRiverbank_H.uasset
Content/KiteDemo/Environments/GroundTiles/PebblyRiverbank/T_Tile_PebblyRiverbank_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/PebblyRiverbank/MI_PSM_PebblyRiverbank_Tile.uasset
Content/KiteDemo/Environments/GroundTiles/LeafyPath/T_GDC_Tiling_LeafpathStones_N.uasset
Content/KiteDemo/Environments/GroundTiles/LeafyPath/T_GDC_Tiling_LeafPath_N.uasset
Content/KiteDemo/Environments/GroundTiles/LeafyPath/T_GDC_Tiling_LeafPath_H.uasset
Content/KiteDemo/Environments/GroundTiles/LeafyPath/T_GDC_Tiling_LeafPath_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/LeafyPath/T_GDC_Tiling_LeafPathStones_H.uasset
Content/KiteDemo/Environments/GroundTiles/LeafyPath/T_GDC_Tiling_LeafPathStones_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/LeafyPath/MI_Tile_LeafPathStones.uasset
Content/KiteDemo/Environments/GroundTiles/LeafyPath/MI_Tile_LeafPath.uasset
Content/KiteDemo/Environments/GroundTiles/LavaFlow002/T_Tiling_LavaFlow002_N.uasset
Content/KiteDemo/Environments/GroundTiles/LavaFlow002/T_Tiling_LavaFlow002_H.uasset
Content/KiteDemo/Environments/GroundTiles/LavaFlow002/T_LavaFlow002_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/LavaFlow002/M_Tile_LavaFlow002.uasset
Content/KiteDemo/Environments/GroundTiles/GravelTile_01/T_gravelTile_01_N.uasset
Content/KiteDemo/Environments/GroundTiles/GravelTile_01/T_gravelTile_01_H.uasset
Content/KiteDemo/Environments/GroundTiles/GravelTile_01/T_gravelTile_01_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/GravelTile_01/T_gravelTile_01A_N.uasset
Content/KiteDemo/Environments/GroundTiles/GravelTile_01/T_gravelTile_01A_H.uasset
Content/KiteDemo/Environments/GroundTiles/GravelTile_01/T_gravelTile_01A_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/GravelTile_01/MI_GravelTile_01A.uasset
Content/KiteDemo/Environments/GroundTiles/GravelTile_01/MI_GravelTile_01.uasset
Content/KiteDemo/Environments/GroundTiles/Grass/T_ground_Moss_D.uasset
Content/KiteDemo/Environments/GroundTiles/Grass/T_Perlin_Noise_M.uasset
Content/KiteDemo/Environments/GroundTiles/Grass/T_MacroVariation.uasset
Content/KiteDemo/Environments/GroundTiles/Grass/T_Ground_Grass_N.uasset
Content/KiteDemo/Environments/GroundTiles/Grass/T_GDC_Grass01_D_NoisyAlpha.uasset
Content/KiteDemo/Environments/GroundTiles/Grass/M_Ground_Grass2.uasset
Content/KiteDemo/Environments/GroundTiles/Grass/M_AssetPlatform_Grass.uasset
Content/KiteDemo/Environments/GroundTiles/ForestPath_001/T_Forest_Path_001B_N.uasset
Content/KiteDemo/LevelContent/Architecture/M_CycRoom_01.uasset
Content/KiteDemo/LevelContent/Architecture/M_1Meter_01.uasset
Content/KiteDemo/Environments/Textures/T_Water_Screen_Noise_Soft2.uasset
